services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./ai
    ports:
      - "8000:8000"
    environment:
      - HOST=0.0.0.0
      - PORT=8000
